@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-gray-200;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-amber-500;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-amber-500 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
}

html {
  scroll-behavior: smooth;
}

.h-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu-open {
  display: none;
}

@media (max-width: 510px) {
  .menu-open {
    display: block;
  }
  .h-menu {
    position: absolute;
    gap: 1rem;
    font-weight: 400;
    flex-direction: column;
    right: 0rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    top: -100%;
  }
  .show-menu {
    top: 4rem;
  }
}

.bg-home1 {
  display: flex;
  width: auto;
  height: 400px;
  background: url(./assets/img/profile.jpeg);
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-img {
  width: 30rem;
  height: 35rem;
  background: url(./assets/img/apartments/a2lg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.bg-home2 {
  display: flex;
  width: auto;
  height: 400px;
  background: url(./assets/img/bghome2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-slide div {
  margin: 0 1rem 1rem 0;
}

.testi-wrapper {
  display: flex !important;
  flex-direction: column;
  gap: 0.5rem;
  justify-self: center;
  align-items: center;
}

.testi-wrapper img {
  width: 5rem;
  height: 5rem;
}

/* about  */
.bg-about {
  display: flex;
  width: auto;
  height: 400px;
  background: url(./assets/img/bgabout.jpg);
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordionItem {
  background: white;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: 0px 23px 21px -8px rgb(229, 231, 235);
  border-radius: 6px;
}

/* scroll up  */
.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: #252525;
  padding: 0.75rem;
  border-radius: 0.5rem;
  z-index: 100;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: black;
}

.show-scroll {
  bottom: 3rem;
}

/* For medium devices */
@media screen and (max-width: 769px) {
  .show-scroll {
    bottom: 2rem;
  }
}

/* For small devices */
@media screen and (max-width: 426px) {
  .scrollup {
    right: 1rem;
  }
}
